<h2>Hi!</h2>
<h4>My name is Alexey.</h4>
<p>I'm from Ukraine and I study programming in Poland.</p>
<p>It's first version of Blogio and this part of the page is hardcoded :). I really hope that I'll change this page sometimes</p>
<p>WILL WORK FOR FOO:D, but not for too long(I hope)</p>